* {
  margin-left: 5px;
}

.header {
  color:white;
  background-color:navy;
}

h1 {
  padding-bottom: 0px;
  margin: 0px;
}

h6 {
  padding-top: 0px;
  margin: 0px;
}

h5 {
  padding: 2px;
  margin: 2px;
}

h3 {
  padding: 5px;
  margin: 5px;
}

h4 {
  padding: 5px;
  margin: 5px;
}

ul {
  padding: 5px;
  margin: 5px;
}

li {
  padding-left: 10px;
}
  
