* {
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  padding-bottom: 0px;
  margin: 0px;
  height: 60px;
  font-size: 54px;
}

h6 {
  padding-top: 0px;
  margin: 0px;
  height: 14px;
  font-size; 12px;
}

img {
  position: relative;
  margin-left: 300px;
  margin-top: 0px;
}

h5 {
  padding: 2px;
  margin: 2px;
  font-size: 16px; 
}

h3 {
  padding: 4px;
  margin: 3px;
  font-size: 24px;
}

h4 {
  padding: 2px;
  margin: 2px;
  font size: 18px; 
}

ul {
  padding: 2px;
  margin: 2px;
}

li {
  font size: 16px; 
}

.section {
  border-top: solid 1px;
  {

.date {
  position: relative;
  float: right;
    }
